/*
** Neccessary css
*/
.translate {
  transform: translate3d(-100px, 0, 0);
}
.slider-container {
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 20px;
}
.slider-container .heading {
  color: #22A565;
  margin: 30px 30px;
}
.slider-control-container {
  position: absolute;
  width: 100px;
  text-align: center;
  height: 300px; /*This is intended to change */
}
.opacity-end {
  width: 120px; /*This is intended to change */
  height: 300px; /*This is intended to change */
  position: absolute;
  right:0;
  z-index: 0;
  background-color: rgba(255,255,255,0.8);
}
.slider-control {
    position: absolute;
    top: 50%;
    line-height: 24px;
    font-size: 12px;
    margin-top: -24px;
    z-index: 2;
}
.slider-control-left {
  left: 25%;
}
.slider-control-right {
  right: 25%;
}
.slider-control button:disabled {
  cursor: not-allowed;
}
.slider-container:hover button {
  display: inline-block;
}
.slider-control button {
  display: none;
  background-color: #22A565;
  clip-path: circle(40%);
  width: 40px;
  height: 40px;
  color: white;
  border: none;
}
.control-right {
  right: 0px;

}
.slider-content-space {
  overflow-x: hidden;
  /*width: 90%;*/
  margin: 0 auto;
}
.control-left {
  left: 0px;
}
.slider-content::before, .slider-content::after {
  display: table;
  content: '';
  clear: both;
}
.slider-content-container {
  position: relative;
  z-index: -1;
  display: block;
  width:20000px;
  margin: 0 auto;
  min-height: inherit;
  transition:  0.5s transform ease;
}
.slider-content {
  float: left;
  width: 175px; /*This is intended to change */
  height: 300px; /*This is intended to change */
  border: 1px solid #c1c1c1;
}
.slider-content img {
  width: 100%;
  height: 100%;

}
@media only screen and (max-width: 1200px) {
  .opacity-end {
    width: 98px; /*This is intended to change */
  }
}
@media only screen and (max-width: 992px) {
  .opacity-end {
    width: 50px; /*This is intended to change */
  }
}
 @media only screen and (max-width: 450px) {
  .opacity-end {
    display: none; /*This is intended to change */
  }
  .slider-control-container {
    display: none;
  }
}
